* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #1f1a17;
  --white: #fff;
  --gold: #ffbf00;
  --dark-gold: #cc7700;
}

/* Utillity classes (quick-styles) begin below */

.flex {
  display: flex;
}

.priority-grow {
  flex: 1;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.margin-top {
  margin-top: 20px;
}

.padding {
  padding: 30px;
}

/* Utility classes end here */

/* Specific classes (more complicated styling) begins below */

body {
  background-color: var(--white);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  min-height: 100vh;
}

#landing-header {
  background-color: var(--black);
  color: var(--white);
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  color: var(--white);
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  color: var(--gold);
}

#landing-blurb {
  font-size: 1.5rem;
}

.btn {
  font-family: inherit;
  padding: 10px;
  border: 2px solid var(--gold);
  color: var(--gold);
  font-size: 1.5rem;
  background-color: transparent;
  width: 10rem;
  cursor: pointer;
}

.btn:hover {
  border: 2px solid transparent;
  color: rgba(204, 119, 0, 1);
  text-shadow: 0 2px 2px rgba(255, 255, 255, 1);
  background-image: linear-gradient(
    160deg,
    rgba(204, 119, 0, 1),
    rgba(255, 191, 0, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 191, 0, 1),
    rgba(204, 119, 0, 1)
  );
  background-size: 100% 100%;
  background-position: center;
}

/* Specific classes end here */
