#header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, .75),
      rgba(0, 0, 0, 0)
    ),
    url("../images/header.jpg");
  /* background-size: cover; */
  background-position: right;
}

#header a {
  color: var(--gold);
  text-decoration: none;
}

#logo {
  position: relative;
  padding: 60px;
}

#nc {
  position: absolute;
  left: 145px;
  top: 15px;
  font-size: 20px;
}

#revelers {
  position: absolute;
  font-size: 140px;
  top: -55px;
  left: 10px;
  padding-right: 10px;
  background-color: var(--gold);
  background-image: linear-gradient(
    135deg,
    rgba(255, 191, 0, 1),
    rgba(255, 191, 0, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 191, 0, 1),
    rgba(255, 191, 0, 1)
  );
  background-size: 100%;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#orchestra {
  font-size: 15px;
  position: absolute;
  top: 92px;
  left: 145px;
}

#sidebar {
  background: linear-gradient(
    135deg,
    rgba(204, 119, 0, 1),
    rgba(255, 191, 0, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 191, 0, 1),
    rgba(255, 191, 0, 1),
    rgba(255, 191, 0, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 191, 0, 1),
    rgba(204, 119, 0, 1)
  );
  height: 85vh;
}

.sidebar-list {
  list-style: none;
  width: 200px;
}

.sidebar-list li {
  margin-top: 10px;
}

.sidebar-list a {
  color: var(--dark-gold);
  text-shadow: 0 1px 1px var(--white);
  text-decoration: none;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}
