#header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.25),
      rgba(255, 255, 255, 0.25)
    ),
    url("../images/header.jpg");
  /* background-size: cover; */
  background-position: right;
}

#header a {
  color: var(--gold);
  text-decoration: none;
}

#logo {
  position: relative;
  padding: 60px;
}

#nc {
  position: absolute;
  left: 145px;
  top: 15px;
  font-size: 20px;
  width: max-content;
}

#revelers {
  position: absolute;
  font-size: 140px;
  top: -55px;
  left: 10px;
  padding-right: 10px;
  background-color: var(--gold);
  background-image: linear-gradient(
    135deg,
    rgba(255, 191, 0, 1),
    rgba(255, 191, 0, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 191, 0, 1),
    rgba(255, 191, 0, 1)
  );
  background-size: 100%;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#orchestra {
  position: absolute;
  left: 145px;
  top: 92px;
  font-size: 15px;
  width: max-content;
}

.sidebar {
  background: linear-gradient(
    135deg,
    rgba(204, 119, 0, 1),
    rgba(255, 191, 0, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 191, 0, 1),
    rgba(255, 191, 0, 1),
    rgba(255, 191, 0, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 191, 0, 1),
    rgba(204, 119, 0, 1)
  );
  height: 85vh;
}

.menu-icon {
  display: none;
}

#close-icon {
  display: none;
}

.sidebar-list {
  list-style: none;
  width: 200px;
}

.sidebar-list li {
  margin-top: 10px;
}

.sidebar-list a {
  color: var(--dark-gold);
  text-shadow: 0 1px 1px var(--white);
  text-decoration: none;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h3 {
  color: var(--dark-gold);
}

/* Event page styles begin below */

.event-notes {
  font-size: 0.8rem;
  list-style-position: inside;
  color: var(--dark-gold);
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border: 2px solid var(--dark-gold);
  color: var(--dark-gold);
}

.table-headers {
  background: linear-gradient(
    135deg,
    rgba(204, 119, 0, 1),
    rgba(255, 191, 0, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 191, 0, 1),
    rgba(255, 191, 0, 1),
    rgba(255, 191, 0, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 191, 0, 1),
    rgba(204, 119, 0, 1)
  );
  text-shadow: 0 1px 1px var(--white);
}

th {
  padding: 10px;
}

td {
  padding: 15px;
}

td {
  border: 1px solid var(--dark-gold);
}

tr:nth-child(even) {
  background-color: #ffecb3;
}

@media screen and (max-width: 600px) {
  body {
    position: relative;
  }

  #header {
    background: var(--black);
  }

  #logo {
    padding: 40px;
  }

  #nc {
    left: 87px;
    top: 15px;
    font-size: 10px;
  }

  #revelers {
    font-size: 80px;
    top: -22px;
  }

  #orchestra {
    left: 87px;
    top: 62px;
    font-size: 9px;
  }

  .sidebar {
    display: none;
    position: absolute;
    top: 0;
    height: 100vh;
    z-index: 9999;
  }

  .page-cover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .visible {
    display: block;
  }

  .stop-scroll {
    position: fixed;
  }

  #menu-icon {
    display: block;
    width: 50px;
    fill: var(--white);
    margin-left: 10px;
  }

  #menu-icon:hover {
    fill: var(--gold);
  }

  #close-icon {
    display: block;
    width: 50px;
    fill: var(--dark-gold);
    filter: drop-shadow(0px 1px var(--white));
    margin-top: 15px;
    margin-left: 145px;
  }
}

@media screen and (max-width: 437px) {
  table {
    font-size: 0.65rem;
  }
}

@media screen and (max-width: 349px) {
  table {
    font-size: 0.5rem;
  }
}